@use '../../index';

.lancamentos {
    padding: 1rem;
    .titulo {
        @include index.fs-fw-cl(16px, normal, black);
        padding: 1rem 0;
    }
    .slider {
        .card {
            padding-right: 1rem;
            padding-bottom: 2rem;
            .card-img {
                background-size: cover;
                width: 40vw;
                height: 40vw;
                display: flex;
                justify-content: space-between;
                padding: .5rem;
                .desconto {
                    align-self: flex-end;
                    color: var(--bebece-vermelho);
                }
                &-container {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    .img {
                        width: 100%;
                    }
                }
            }
            a {
                text-decoration: none;
                color: inherit;
            }
            &-descricao {
                padding: 1rem 0;
                @include index.fs-fw-cl(12px, lighter, black);
            }
            &-preco {
                display: inline-flex;
                @include index.fs-fw-cl(14px, normal, black);
            }
            &-preco-desconto {
                @extend .card-preco;
                color: var(--cinza-escuro);
                text-decoration: line-through;
                margin-right: 1rem;
            }
        }
    }
}
