.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;

    z-index: 100;

    color: white;

    ul {
        list-style: none;
    }
    .icones {
        display: flex;
        gap: 1rem;
        .icone {
            color: inherit;
        }
    }
}
.logo-black {
    fill: black;
}
.scroll {
    background: white;
    color: black;
    fill: black;
}
